.a1 {
    height: 600px;
    width: 600px;
    background: aqua;
    margin: 0 auto;
}

.a2 {
    height: 150px;
    width: 600px;
    background: #ff008c;
}

.a6 {
    height: 150px;
    width: 150px;
    background: #48ff00;
    float: left;
}

.a10 {
    height: 75px;
    width: 150px;
    background: #e4c125f3;
}

.a11 {
    height: 75px;
    width: 150px;
    background: #2552e4f3;
}

.a12 {
    height: 75px;
    width: 75px;
    background: #25bee4f3;
    float: left;
}

.a13 {
    height: 75px;
    width: 75px;
    background: #71e425f3;
    float: left;
}

.a7 {
    height: 150px;
    width: 150px;
    background: #fffb00;
    float: left;
}

.a14 {
    height: 50px;
    width: 150px;
    background: #6cf014b9;
}

.a15 {
    height: 50px;
    width: 150px;
    background: #f01432b9;
}

.a17 {
    height: 50px;
    width: 50px;
    background: #0794e6cc;
    float: left;
}

.a18 {
    height: 50px;
    width: 50px;
    background: #07e6c8cc;
    float: left;
}

.a19 {
    height: 50px;
    width: 50px;
    background: #e67e07cc;
    float: left;
}

.a16 {
    height: 50px;
    width: 150px;
    background: #f014b9b9;
}

.a8 {
    height: 150px;
    width: 150px;
    background: #6200ff;
    float: left;
}

.a20 {
    height: 75px;
    width: 150px;
    background: #ffbb00;
}

.a22 {
    height: 37px;
    width: 150px;
    background: #36cf17;
}

.a24 {
    height: 37px;
    width: 75px;
    background: #5717cf;
    float: left;
}

.a26 {
    height: 18px;
    width: 75px;
    background: #5717cf;
}

.a27 {
    height: 19px;
    width: 75px;
    background: #cccf17;
}

.a25 {
    height: 37px;
    width: 75px;
    background: #36cf17;
    float: left;
}

.a23 {
    height: 38px;
    width: 150px;
    background: #cf1717;
}

.a21 {
    height: 75px;
    width: 150px;
    background: #ff0000;
}

.a9 {
    height: 150px;
    width: 150px;
    background: #1100ff;
    float: left;
}

.a28 {
    height: 50px;
    width: 150px;
    background: #0084ff;
}

.a29 {
    height: 50px;
    width: 150px;
    background: #ff008c;
}

.a30 {
    height: 50px;
    width: 150px;
    background: #ff9100;
}

.a3 {
    height: 150px;
    width: 600px;
    background: #0084ff;
}

.a4 {
    height: 150px;
    width: 600px;
    background: #ff0000;
}

.a5 {
    height: 150px;
    width: 600px;
    background: #ffd000;
}